<!DOCTYPE html>
<html>
  <head>
    <title>TechFit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <style>
  .main-content {
    flex: 1 0 auto;
     background-color: #f4f9f9;
  }
  </style>

  <body>
    <%= render "shared/header" %>
    
    <div class="main-content">
      <%= yield %>
    </div>

    <%= render 'shared/footer'%>
  </body>
</html>

